<!DOCTYPE html>
<html>
<head>
    <title>Ajouter un livre</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <h1>Ajouter un livre</h1>
    <form method="POST">
        <label for="titre">Titre :</label><br>
        <input type="text" id="titre" name="titre"><br>
        <label for="auteur">Auteur :</label><br>
        <input type="text" id="auteur" name="auteur"><br>
        <input type="submit" value="Ajouter">
    </form>
    <a href="/">
        <button>Page Home</button>
    </a>
</body>
</html>
