<!DOCTYPE html>
<html>
<head>
    <title>Bienvenue à la bibliothèque</title>
    <link rel="stylesheet" href="..templates/styles.css">
</head>
<body>
    <h1>Bienvenue à la bibliothèque</h1>
    <ul>
        <li><a href="/authentification">Se connecter</a></li>
        <li><a href="/livres">Voir les livres disponibles</a></li>
        <li><a href="/livres_a">Ajouter un livre</a></li>
        <li><a href="/emprunt">Emprunter un livre</a></li>
        <li><a href="/retour">Retourner un livre</a></li>
        <li><a href="/consultation">Consulter les clients</a></li>
        <li><a href="/enregistrer_client">Enregistrer un nouveau client</a></li>
    </ul>
</body>
</html>
