<!DOCTYPE html>
<html>
<head>
    <title>Livres disponibles</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <h1>Livres disponibles</h1>
    <table>
        <tr>
            <td>{{ row[0] }}</td>
            <td>{{ row[1] }}</td>
            <td>{{ row[2] }}</td>
            <td>{{ row[3] }}</td>
            <td>{{ row[4] }}</td>
            <td>
                <a href="/livres/{{ row[5] }}/modifier">
                    <img src="../static/img/icon_modifier.png" alt="Modifier">
                </a>
                <a href="/livres/{{ row[5] }}/supprimer">
                    <img src="../static/img/icon_supprimer.png" alt="Supprimer">
                </a>
            </td>
        </tr>
        
        {% endfor %}
    </table>
    <a href="/">
        <button>Page Home</button>
    </a>
</body>
</html>
